@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

body {
  background-color: white;
  border-top-style: solid;
  border-top-width: 6px;
  border-color: #005A9C;

  text-align: center;
  font-family: 'Zilla Slab';
}

a {
  color: #005A9C;
  letter-spacing: 1px;
}

a:hover {
  color: #EF3E42;
  text-decoration: none;
}

#page-content {
  background-color: white;
}

#about-content {
  margin: auto;
  background-color: white;
  text-align: left;
  max-width: 640px;
  min-width: 640px;
}

#header-content {
  background-color: white;
  padding: 0 0 0 0;
  font-size: 46px;
  letter-spacing: -2px;
}

#navbar {
  background-color: white;
  text-align: center;
  justify-content: center;
  padding: 0 0 0 0;
}

.modal-content {
  text-align: left;
  justify-content: left;
}

.modal-title {
  letter-spacing: -1px;
  font-size: 24px;
  font-weight: 600;
}

.modal-footer {
  text-align: left;
  justify-content: left;
  font-size: large;
}

.navbar-item {
  margin: 0 16px 0 16px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #005A9C;
}

.navbar-item:hover {
  cursor: pointer;
  color: #EF3E42;
}

.projects-item {
  position: relative;
  margin: auto;
  background-color: white;
  min-width: 350px;
  max-width: 300px;
  min-height: 350px;
  max-height: 300px;

  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.projects-item:hover {
  cursor: pointer;
}

.projects-item-content {
  padding: 0 4px 0 4px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  left: 0;
}

.animate-fade {
  -webkit-animation: fadein .7s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein .7s; /* Firefox < 16 */
      -ms-animation: fadein .7s; /* Internet Explorer */
       -o-animation: fadein .7s; /* Opera < 12.1 */
          animation: fadein .7s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
