@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

body {
  background-color: white;
  text-align: center;
  font-family: 'Zilla Slab';

  border-top-style: solid;
  border-top-width: 6px;
  border-color: #005A9C;
}

.page-content {
  background-color: white;
}

.header {
  background-color: white;
  padding: 0 0 0 0;
  font-size: 44px;
  font-weight: 400;
}

.navbar {
  background-color: white;
  text-align: center;
  justify-content: center;
  padding: 0 0 0 0;
}

.navbar-item {
  margin: 0 16px 0 16px;
  font-size: 18px;
  font-weight: 500;
  color: #EF3E42;
  color: #005A9C;
}

.navbar-item:hover {
  cursor: pointer;
}

.projects-item {
  position: relative;
  margin: auto;
  background-color: pink;
  min-width: 350px;
  max-width: 300px;
  min-height: 350px;
  max-height: 300px;
}

.projects-item-content {
  padding: 0 4px 0 4px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  left: 0;
}